body {
    text-align: center;
    font-size: 16px;
    width: 640px;
    font-family: "Helvetica", "Helvetica Neue", "Arial", sans-serif;
}

ul {
    width: 480px;
    text-align: left;
    padding-left: 100px;
}

li {
    font: bold 2em/1.5 serif;
}

header {
    font: 5em/1.5 Verdana, Helvetica, sans-serif;
    background-color: azure;
}

input, button {
    font-size: 2em;
}

a {
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: maroon;
}

p#github-link {
    font-size: 2em;
}

p#github-link a {
    background-color:pink;
}